*{
    margin: 0;
    padding: 0;
    font-family: "Arial Black", serif;
}

body {
    text-align: center;
    height: auto;
    overflow-y: scroll;
}

.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

header {
    height: 100px;
    background: mediumseagreen;
    width: 100%;
    z-index: 99;
    position: fixed;
}

.white-bar {
    top: 100px;
    width: 100%;
    position: fixed;
    background: white;
    height: 40px;
}

.logo{
    width: 25%;
    height: 100px;
    float: left;
}

.image {
    width: 100%;
    float: left;
    margin:auto;
    line-height: 30px;
}
.image-right {
    width: 0%;
    float: right;
    margin:auto;
    line-height: 30px;
}

.column {
    float: left;
    width: 50%;
}

div.absolute {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 600px;
    text-align: center;
    margin:auto;
    line-height: 30px;

}
div.absoluteleft {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 600px;
    text-align: center;
    margin:auto;
    line-height: 30px;

}
nav {
    float: right;
    line-height: 100px;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.5vw;
    color: white;
}

nav a:hover {
    color: forestgreen;
}

.dividers {
    color: white;
    font-size: 20px;
}

.banner-area {
    padding-top:  100px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    background-image: url("images/shoppingbag.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    margin: auto;
}

.banner-area h2{
    padding-top: 4%;
    padding-right: 2%;
    padding-left: 2%;
    font-size: 5vw;
    color: white;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: seagreen;
}
.contentarea {
    color: mediumseagreen;
    width: 100%;
    position: relative;;
    top: 500px;
    background: white;
    height: 500px;
}

.content-area {
    color: mediumseagreen;
    width: 100%;
    position: relative;
    top: 500px;
    background: white;
    height: auto;
    padding: 30px 0px;
}

.content-area h2 {
    color: mediumseagreen;
    letter-spacing: 4px;
    font-size: 3vw;
    margin: 0;
}

.content-area p {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: Arial, serif;
    line-height: 2.5vw;
    font-size: 1.5vw;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

.content-area h3 {
    font-size: 40px;
    padding: 30px;
}

.noncontent-area-mid {
    width: 100%;
    height: 200px;
    background: none;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 20px 12px 0;
    display: inline-block;
    float: right;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.overskrift {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.tekstboks {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.række:after {
    content: "";
    display: table;
    clear: left;
}

.contact-info {
    float: right;
    width: 25%;
}

.contact-info h2 {
    font-size: 1.2vw;
    padding-top: 0;
    text-transform: uppercase;
    color: darkgreen;
}

.contact-info p{
    font-size: 1vw;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.4vw;
}

.footer {
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 30px;
    background-color: mediumseagreen;
}

.footer p{
    color: white;
    font-size: 0.75vw;
    letter-spacing: 1px;
}

.advice-header {
    margin-top: 0px;
    padding-bottom: 20px;
    font-weight: normal;

}

.advice-list {
    text-align: left;
    padding: 0px 50px;
    margin: auto;
    width: 80%;

}

.advice-list li {
    padding: 7px 0px;
}