<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>
    <div class="box-area">
        <header>
                <div class="wrapper">
                    <div class="logo">
                        <a href="/">
                            <img src="images/dmm.JPG" alt="Page Logo" style="max-width: 130%; min-height: 150%">
                        </a>
                    </div>
                    <nav>
                        <div class="dividers">
                            <a href="/">Forside</a>
                            |
                            <a href="/goderaad">Gode Råd</a>
                            |
                            <a href="/medlemskab">Bliv Medlem</a>
                            |
                            <a href="/kontakt">Kontakt os</a>
                        </div>
                    </nav>
            </div>
        </header>
        <div class="banner-area">
            <div class="wrapper">
            <h2>Vi er Danmark mod Madspild</h2>
            </div>
        </div>
        <div class="white-bar">

        </div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Content Area</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="noncontent-area-mid">

        </div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Content Area</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
    </div>
<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK </p></div>
</body>
</html>