<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bliv Medlem</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.JPG" alt="Forside" style="max-width: 130%; min-height: 150%">
                </a>
            </div>
            <nav>
                <div class="dividers">
                    <a href="/">Forside</a>
                    |
                    <a href="/godeRaad">Gode Råd</a>
                    |
                    <a href="/blivMedlem">Bliv Medlem</a>
                    |
                    <a href="/kontaktOs">Kontakt os</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-area">
        <div class="wrapper">
            <h2>Bliv medlem!</h2>
        </div>
    </div>
</div>
<div class="white-bar"></div>

<div class="content-area">
    <div class="wrapper">
        <h2>Deltag i kampen mod madspild</h2>
        <p>DANMARK MOD MADSPILD henvender sig til alle virksomheder med en fødevareproduktion, f.eks. restauranter, hoteller, storkøkkener, institutioner osv. Som medlem af foreningen kan I vise jeres kunder og samarbejdspartnere, at jeres virksomhed tænker bæredygtighed og gør en forskel.</p>
        <div class="row">
            <input type="submit" onclick="myFunction()" value="Bliv Medlem">
        </div>
    </div>
</div>

<div class="noncontent-area-mid" style="height: 650px">
</div>

<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK • TLF: +45 46 46 07 00 </p>
</div>

<script>
    function myFunction() {
        window.open("/medlemskabInfo", width=550, height=170, left=150, top=200, toolbar=0, status=0);
    }
</script>

</body>
</html>