<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.JPG" alt="Forside" style="max-width: 130%; min-height: 150%">
                </a>
            </div>
            <nav>
                <div class="dividers">
                    <a href="/">Forside</a>
                    |
                    <a href="/godeRaad">Gode Råd</a>
                    |
                    <a href="/blivMedlem">Bliv Medlem</a>
                    |
                    <a href="/kontaktOs">Kontakt os</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-area">
        <div class="wrapper">
            <h2>Vi er Danmark mod Madspild</h2>
        </div>
    </div>
    <div class="white-bar"></div>
</div>

<div class="content-area">
    <div class="wrapper">
        <h2>Hvad kan du gøre for at undgå madspild?</h2>
        <p>
            <ul style="list-style-type:none;">
                <li>Frys madvarer, som du ikke kan få spist -
                    Kød, pålæg, ost, brød og grøntsager kan du fryse ned og bruge senere. </li>
        <p></p>
        <li>Opbevar maden korrekt
            Hvis du opbevarer maden korrekt, holder den længere. Mange fødevarer skal opbevares på køl ved maks.
            5° C eller på frys ved maks. -18° C.
            Brug korrekt emballage til opbevaring af maden
        </li>
        <p></p>

        <li>Sorter jævnligt i dit køleskab og bevar en generel god hygiejne,
            for at have de bedst mulige forhold for dine dagligvarer.</li>
        <p></p>
        <li>Tilbered kun den mad, der vil blive spist
            Inden du går i gang med at lave mad, er det en god idé at vurdere,
            hvor meget mad der reelt er brug for. </li>
        <p></p>

        </ul>


        </p>
    </div>
</div>
<div class="noncontent-area-mid">
</div>

</div>
<div class="content-area">
    <div class="wrapper">

        <p>

            <ul style="list-style-type:none;">
                <li>En anden god måde at mindske dit madspild på er ved at overveje,
                    hvordan du udnytter dine madrester i stedet for at smide dem ud.
                    Resterne kan fx anvendes i madpakken, i nye retter eller fryses til senere brug. </li>
        <p></p>

        <li>Sorter jævnligt i dit køleskab og bevar en generel god hygiejne,
            for at have de bedst mulige forhold for dine dagligvarer.</li>
        <p></p>
        <li>Hav altid en indkøbsseddel med, når du køber ind og planlæg dine indkøb hjemmefra.</li>
        <p></p>
        <li>Spis det mad der snart udløber først
            Sørg for at de ældste varer i dit køleskab står placeret forrest.
            Så undgår du, at de står og bliver for gamle bagerst i køleskabet.</li>
        <p></p>

        </ul>


        </p>
    </div>
</div>
</div>

<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK • TLF: +45 46 46 07 00 </p>
</div>
</body>
</html>