<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.JPG" alt="Forside" style="max-width: 130%; min-height: 150%">
                </a>
            </div>
            <nav>
                <div class="dividers">
                    <a href="/">Forside</a>
                    |
                    <a href="/godeRaad">Gode Råd</a>
                    |
                    <a href="/blivMedlem">Bliv Medlem</a>
                    |
                    <a href="/kontaktOs">Kontakt os</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-area">
        <div class="wrapper">
            <h2>Vi er Danmark mod Madspild</h2>
        </div>
    </div>
    <div class="white-bar"></div>
</div>

<div class="content-area">
    <div class="wrapper">
        <h2 class="advice-header">Hvem er vi?</h2>
            <ul class="advice-list" >
                <li>Hver dag bliver der smidt betydelige mængder mad ud i de danske husholdninger. Men det største madspild sker, inden maden bliver solgt til forbrugerne, dvs. i processen fra produktion til salg.  </li>
                <li>Spild af mad har store miljø- og klimamæssige konsekvenser, og det er noget, alle kan være med til at undgå. Vi kan måske ikke rette på det ved at spise al den mad, der ellers ville være blevet smidt ud, men udenlandske undersøgelser peger på, at omkring halvdelen af den mad, der ryger i skraldespanden, kunne være spist.</li>
            </ul>
    </div>
</div>

<div class="noncontent-area-mid" style="height: 100px">
</div>

<div class="content-area">
    <div class="wrapper">
        <h2 class="advice-header">Generelt om madspild</h2>
            <ul class="advice-list">
                <li>Er virksomheden i tvivl om, hvornår den må donere fødevarer til velgørende formål? Hvornår er det nok at sortere afvigende varer fra? Og kan virksomheden bruge varerne som ingrediens i produktionen?</li>
                <li>Virksomheden skal altid sikre sig, at fødevarerne er i orden, så de ikke gør forbrugerne syge. I mange tilfælde må virksomheden kassere vare​r. Men der er meget, man kan gøre for at undgå madspild. Se guiden, der​ fortæller, hvordan virksomheden kan undgå madspild i konkrete situationer, hvor en fødevare afviger.</li>
                <li>Alt dette og mere kan Danmark Mod Madspild hjælpe med at navigere i. Bliv medlem i dag!</li>
            </ul>
    </div>
</div>

<div class="noncontent-area-mid" style="height: 650px">
</div>

<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK • TLF: +45 46 46 07 00 </p>
</div>
</body>
</html>