<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gode Råd</title>
    <link rel="stylesheet" href="primarystyle.css">
    <link rel="stylesheet" href="w3schools.com/css">

</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.JPG" alt="Forside" style="max-width: 130%; min-height: 150%">
                </a>
            </div>
            <nav>
                <div class="dividers">
                    <a href="/">Forside</a>
                    |
                    <a href="/godeRaad">Gode Råd</a>
                    |
                    <a href="/blivMedlem">Bliv Medlem</a>
                    |
                    <a href="/kontaktOs">Kontakt os</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-area">
        <div class="wrapper">
            <h2>10 gode råd mod madspild</h2>
        </div>
    </div>
    <div class="white-bar"></div>
</div>

<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="absolute">
                    <h1>1. Kort dato (datovarer)</h1>
                    <p> Miljøstyrelsen opfordrer til, at varer, der er tæt på udløbsdato, sælges til nedsat pris, så de afsættes frem for at blive til madspild. Datovarer kan evt. samles i en separat montre, så kunderne ved, hvor de kan finde dem. Mange butikker gør allerede i dag dette.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="image">
                    <a href="/goderaad">
                        <img src="images/shoppingbag.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="image-right">
                    <a href="/goderaad">
                        <img src="images/reduce.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="absoluteleft">
                    <h1>2. Efteruddannelse</h1>
                    <p>Sørg for at efteruddanne/informere butikspersonalet, så alle medarbejdere er klar over, hvilke varer der giver mest madspild, og hvordan madspildet bedst undgås eller reduceres.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="absolute">
                    <h1> 3.  Følsomme varer</h1>
                    <p>Det største madspild sker på frugt og grønt, specielt bananer og salat. Vær særligt opmærksom på, hvordan disse varer opbevares og udstilles, f.eks. ved at undgå at varerne ligger i for store bunker og dermed udsættes for tryk. Hav f.eks. fokus på enkeltbananer, og hvordan man gør disse attraktive for kunden.

                        Kartofler kan opbevares i lystætte beholdere eller pakkes i papirsposer, der beskytter mod lys. </p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="image">
                    <a href="/goderaad">
                        <img src="images/images.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="image-right">
                    <a href="/goderaad">
                        <img src="images/billed4.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="absoluteleft">
                    <h1>4.  Tjek grønt-temperaturen</h1>
                    <p>Temperaturen og luftfugtigheden på grøntlageret er en afgørende faktor for holdbarheden af frugt og grønt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="absolute">
                    <h1>5.  Frugt og grønt efter vægt</h1>
                    <p> Sælg frugt og grønt efter vægt frem for stykpris. Det giver plads til salg af forskellige størrelser og mindsker spild både hos leverandører og forbrugerne.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="image">
                    <a href="/goderaad">
                        <img src="images/frugt.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="image-right">
                    <a href="/goderaad">
                        <img src="images/måltidskasse.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="absoluteleft">
                    <h1>6.  Måltidsløsninger</h1>
                    <p>Saml varer med kort holdbarhed, og brug opskrifter som inspiration til at få dem solgt. Lav evt. måltidskasser med nøje udmålte ingredienser.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="absolute">
                    <h1>7. Begræns mængderabatter</h1>
                    <p> Begræns eller afskaf mængderabatter og store pakninger. Ved tilbudskampagner vær da særligt opmærksom på at justere indkøb af varer i samme produktkategori.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="image">
                    <a href="/goderaad">
                        <img src="images/grønt.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="image-right">
                    <a href="/goderaad">
                        <img src="images/donations.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="absoluteleft">
                    <h1>8. Donation af madvarer</h1>
                    <p>Madvarer tæt på udløbsdato kan forsøges doneret til sociale organisationer. Kontakt evt. organisationer, der i forvejen har kendskab til området, da der er en række formalia, der skal overholdes.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="absolute">
                    <h1>9. Holdbarhed</h1>
                    <p> Forlæng holdbarheden af fødevarer ved tekniske løsninger, f.eks. lavere temperaturer, vacuumpakning, beskyttelse mod lys og genluksemballage.

                        Gå gerne i dialog med leverandører om nye teknologier.</p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="image">
                    <a href="/goderaad">
                        <img src="images/avocado.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="noncontent-area-mid">

</div>
<div class="contentarea">
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="image-right">
                    <a href="/goderaad">
                        <img src="images/færdigret.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="absoluteleft">
                    <h1>10. Færdigretter</h1>
                    <p>Udnyt varer tæt på udløbsdatoen til færdigretter i butikken.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK • TLF: +45 46 46 07 00 </p>
</div>
</body>
</html>