<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gode Råd</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.JPG" alt="Forside" style="max-width: 130%; min-height: 150%">
                </a>
            </div>
            <nav>
                <div class="dividers">
                    <a href="/">Forside</a>
                    |
                    <a href="/godeRaad">Gode Råd</a>
                    |
                    <a href="/blivMedlem">Bliv Medlem</a>
                    |
                    <a href="/kontaktOs">Kontakt os</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-area">
        <div class="wrapper">
            <h2>10 gode råd mod madspild</h2>
        </div>
    </div>
</div>
<div class="white-bar"></div>

<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="image-left">
                <img src="images/advice1.jpg" alt="Food on table" style="height: 100%; max-width: 100%;">
            </div>
            <div>
                <h2>1. Kort dato (datovarer)</h2>
                <div class="text-right">
                <p>Miljøstyrelsen opfordrer til, at varer, der er tæt på udløbsdato, sælges til nedsat pris,
                    så de afsættes frem for at blive til madspild. Datovarer kan evt. samles i en separat montre,
                    så kunderne ved, hvor de kan finde dem. </p>
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>


<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="text-left">
                <h2>2. Efteruddannelse</h2>
                <p>Sørg for enten at efteruddanne eller informere butikspersonalet, så alle medarbejdere er klar over,
                    hvilke varer der giver mest madspild, og hvordan madspildet bedst undgås eller reduceres.
                </p>
            </div>
            <div class="image-right">
                <img src="images/advice2.jpg" alt="Showing a graph" style="height: 100%; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>


<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="image-left">
                <img src="images/advice3.jpg" alt="Stacks of fruits/vegetables" style="height: 100%; max-width: 100%;">
            </div>
            <div class="text-right">
                <h2>3.  Følsomme varer</h2>
                <p>Det største madspild sker på frugt og grønt, specielt bananer og salat. Vær særligt opmærksom på,
                    hvordan disse varer opbevares og udstilles, f.eks. ved at undgå at varerne ligger i for store bunker og
                    dermed udsættes for tryk.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>

<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="text-left">
                <h2>4.  Tjek grønt-temperaturen</h2>
                <p>Temperaturen og luftfugtigheden på grøntlageret er en afgørende faktor for holdbarheden af frugt og grønt.
                </p>
            </div>
            <div class="image-right">
                <img src="images/advice4.jpg" alt="Food in fridge" style="height: 100%; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>


<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="image-left">
                <img src="images/advice5.jpg" alt="Hand holding apple" style="height: 100%; max-width: 100%;">
            </div>
            <div class="text-right">
                <h2>5.  Frugt og grønt efter vægt</h2>
                <p>Sælg frugt og grønt efter vægt frem for stykpris. Det giver plads til salg af forskellige størrelser
                    og mindsker spild både hos leverandører og forbrugerne.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>


<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="text-left">
                <h2>6.  Måltidsløsninger</h2>
                <p>Saml varer med kort holdbarhed, og brug opskrifter som inspiration til at få dem solgt.
                    Lav evt. måltidskasser med nøje udmålte ingredienser.
                </p>
            </div>
            <div class="image-right">
                <img src="images/advice6.jpg" alt="3 lunchboxes" style="height: 100%; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>

<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="image-left">
                <img src="images/advice7.jpg" alt="Tomatoes" style="height: 100%; max-width: 100%;">
            </div>
            <div class="text-right">
                <h2>7. Begræns mængderabatter</h2>
                <p>Begræns eller afskaf mængderabatter og store pakninger.
                    Ved tilbudskampagner vær da særligt opmærksom på at justere indkøb af varer i samme produktkategori.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>

<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="text-left">
                <h2>8. Donation af madvarer</h2>
                <p>Madvarer tæt på udløbsdato kan forsøges doneret til sociale organisationer.
                    Kontakt evt. organisationer, der i forvejen har kendskab til området, da der er en række formalia,
                    der skal overholdes.
                </p>
            </div>
            <div class="image-right">
                <img src="images/advice8.jpg" alt="Giving a bag with food" style="height: 100%; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>

<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="image-left">
                <img src="images/advice9.jpg" alt="Fruits/vegetables wrapped in plastic" style="height: 100%; max-width: 100%;">
            </div>
            <div class="text-right">
                <h2>9. Holdbarhed</h2>
                <p>Forlæng holdbarheden af fødevarer ved tekniske løsninger,
                    f.eks. lavere temperaturer, vacuumpakning, beskyttelse mod lys og genluksemballage.
                    Gå gerne i dialog med leverandører om nye teknologier.</p>
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid"></div>


<div class="content-area">
    <div class="wrapper">
        <div class="column">
            <div class="text-left">
                <h2>10. Færdigretter</h2>
                <p>Udnyt varer tæt på udløbsdatoen til færdigretter i butikken.
                </p>
            </div>
            <div class="image-right">
                <img src="images/advice10.jpg" alt="Showing dishes" style="height: 100%; max-width: 100%;">
            </div>
        </div>
    </div>
</div>
<div class="noncontent-area-mid" style="height: 650px"></div>

<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK • TLF: +45 46 46 07 00 </p>
</div>
</body>
</html>