<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bliv Medlem</title>
    <link rel="stylesheet" href="primarystyle.css">
</head>
<body>

<div class="box-area">
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="/">
                    <img src="dmm.JPG" alt="Forside">
                </a>
            </div>
            <nav>
                <div class="dividers">
                    <a href="/">Forside</a>
                    |
                    <a href="/goderaad">Gode Råd</a>
                    |
                    <a href="/medlemskab">Bliv Medlem</a>
                    |
                    <a href="/kontakt">Kontakt os</a>
                </div>
            </nav>
        </div>
    </header>
    <div class="banner-area">
        <div class="wrapper">
            <h2>Bliv Medlem</h2>
        </div>
    </div>
    <div class="white-bar">

    </div>
    <div class="content-area">
        <div class="wrapper">
            <h2>Udfyld detaljer her!</h2>
            <div class="boxes">
                <div class="left-box">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                <div class="assistant-right-box">
                    Dit navn:<br>
                    Dit firma:<br>
                    Din e-mail:<br>
                    Evt. besked:<br>
                </div>
                <div class="right-box">
                    <form action ="/newcontact" method="post" id="members">
                        <input type="text" name="name" cols="30"><br>
                        <input type="text" name="company" cols="30"><br>
                        <input type="text" name="email" cols="30"><br>
                        <textarea rows="4" cols="20" name="msg" form="members">Skriv besked her...</textarea><br>
                        <input type="submit" value="Godkend"><br>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <p> DANMARK MOD MADSPILD • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DANMARKMODMADSPILD.DK </p>
</div>


</body>
</html>